<?php


class User{

	//attributes
	private $_id;
	private $_user_email;
	private $_user_password;
	
	//le constructeur
    public function __construct($data){
        $this->hydrate($data);
    }
    
    //la focntion hydrate sert à attribuer les valeurs en utilisant les setters d\'une façon dynamique!
    public function hydrate($data){
        
       
        foreach ($data as $key => $value){
            $method = 'set'.ucfirst($key);
            if (method_exists($this, $method)){
                $this->$method($value);
            }
        }
        
    }

	//setters
	public function setId($id){
        $this->_id = $id;
    }
	public function setUser_Email($_user_email){
        $this->_user_email = $_user_email;
    }

	public function setUser_password($_user_password){
        $this->_user_password = $_user_password;
    }

	

	//getters
	public function getId(){
        return $this->_id;
    }
	public function getEmail(){
        return $this->_user_email;
    }

	public function getPassword(){
        return $this->_user_password;
    }

	

}